# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Virtual environment
.venv/

# VS Code settings
.vscode/

# Python
__pycache__/
.pytest_cache__/
*.pyc

# Sphinx Documentation
docs/build/

# Application help files.
~$*
.$*

# Reports: data folders.
*/report/LaTeX/src/
*/report/figures/src/
*/report/plots/

/mu-mimo/report/analytical_results/channel_statistics/plots/
su-mimo/su_mimo/report/simulation_results/
su-mimo/su_mimo/resource_allocation/eigenchannel_gains/stats/
