# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Virtual environment
.venv/

# VS Code settings
.vscode/

# Python
__pycache__/
.pytest_cache__/
*.pyc

# Sphinx Documentation
docs/build/
docs/source/_*

# Application help files.
~$*
.$*

# Reports: data folders.
su-mimo/report/LaTeX/
su-mimo/report/figures/
su-mimo/report/plots/
su-mimo/report/*.pptx

su-mimo/src/resource_allocation/bit_allocation/
su-mimo/src/resource_allocation/power_allocation/
su-mimo/src/resource_allocation/eigenchannel_gains/*/

mu-mimo/report/LaTeX/
mu-mimo/report/figures/
mu-mimo/report/plots/