# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Virtual environment
.venv/

# VS Code settings
.vscode/

# Python
__pycache__/
.pytest_cache__/
*.pyc

# Sphinx Documentation
docs/build/
docs/source/_*

# Application help files.
~$*
.$*

# Reports: data folders.
su-mimo/report/LaTeX/
su-mimo/report/figures/
su-mimo/report/plots/
su-mimo/report/*.pptx

su-mimo/waterfilling/plots/
su-mimo/waterfilling/demos/
su-mimo/waterfilling/eigenchannel_gains/plots/
su-mimo/waterfilling/eigenchannel_gains/stats/

mu-mimo/report/LaTeX/
mu-mimo/report/figures/
mu-mimo/report/plots/